<style>
  body {
    background: url('../imgs/spirit_2.jpeg') black;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    background-attachment: fixed;
  }
</style>
<div class="row">
  <div class="col s12">
    <div class="center-align">Welcome <span class="member-name"></span></div>
    <ul class="tabs grey darken-3">
      <li class="tab col s4"><a href="#beer" class="active">Beer</a></li>
      <li class="tab col s4"><a href="#spirits">Spirits</a></li>
      <li class="tab col s4"><a href="#wine">Wine</a></li>
    </ul>
    {{#each bevs}}
    <div class="card grey darken-4">
      <div class="card-content grey-text text-lighten-2">
        <span class="card-title">{{dataValues.bev_name}}</span>
        <div id="rateYo-{{dataValues.id}}" class="rateYo"  data-id="{{dataValues.id}}" data-average-rating="{{dataValues.bev_average_rating}}"></div>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header grey darken-3"><i class="material-icons">info_outline</i>Info</div>
            <div class="collapsible-body">
              <div><strong>Category:</strong> <span class="green-text">{{dataValues.bev_category}}</span></div>
              <div><strong>Maker:</strong> <span class="green-text">{{dataValues.bev_maker}}</span></div>
              <div><strong>Type:</strong> <span class="green-text">{{dataValues.bev_type}}</span></div>
              <div><strong>ABV:</strong> <span class="green-text">{{dataValues.bev_abv}}</span></div>
              <div><strong>IBU:</strong> <span class="red-text">{{dataValues.bev_ibu}}</span></div>
            </div>
          </li>
          <li>
            <div class="collapsible-header grey darken-3"><i class="material-icons">description</i>Description</div>
            <div class="collapsible-body"><span>{{dataValues.bev_descr}}</span></div>
          </li>
        </ul>
      </div>
      <div class="card-action">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#bevsModal">Review</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<!-- Modal Structure -->
<div id="bevsModal" class="modal">
  <div class="modal-content grey darken-4">
    <div class="row">
      <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Fill in Username here" id="user-id" type="text" class="grey-text validate" value="1">
          <label for="username">User ID</label>
        </div>
        <div class="input-field col s6">
          <input id="bev-id" type="text" class="grey-text validate" value="1">
          <label for="bev-id">Beverage ID</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea grey-text validate" id="review-text"></textarea>
          <label for="review-text">Leave comments here</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12" id="bev-rating">
          <label for="rating">Rating </label>
          <br>
          <form action="#">
            <p>
              <label>
                <input class="with-gap" name="group1" type="radio" value="1" />
                <span>1</span>
              </label>
              <label>
                <input class="with-gap" name="group1" type="radio" value="2" />
                <span>2</span>
              </label>
              <label>
                <input class="with-gap" name="group1" type="radio" value="3" />
                <span>3</span>
              </label>
              <label>
                <input class="with-gap" name="group1" type="radio" value="4" />
                <span>4</span>
              </label>
              <label>
                <input class="with-gap" name="group1" type="radio" value="5" />
                <span>5</span>
              </label>
            </p>
          </form>
        </div>
      </div>
    </form>
  </div>
  </div>
  <div class="modal-footer grey darken-4">
    <a href="#!" class="modal-close waves-effect waves-green btn" id="review-submit">Submit</a>
  </div>
</div>
<script src="/js/bevs.js"></script>
